# 环境模式
NODE_ENV=development

# ---基础配置---
# 服务端口
SERVER_PORT=3000
# ---基础配置---

# ---数据库配置---
# 主机
DB_HOST=you_db_host
# 端口
DB_PORT=you_db_port
# 用户名
DB_USERNAME=you_db_user_name
# 密码
DB_PASSWORD=you_db_password
# 数据库名称
DB_NAME=you_db_name
# ---数据库配置---

# ---JWT配置---
# jwt加密key
JWT_SECRET=you_jwt_secret
# ---JWT配置---

# ---阿里云OSS配置---
# 操作账号access_key_id
ALIYUN_ACCESS_KEY_ID=you_key_id
# 操作账号access_key_secret
ALIYUN_ACCESS_KEY_SECRET=you_key_secret
# oss上传回调服务器地址
OSS_UPLOAD_CB_SERVER_URL=http://47.115.161.79:4000
# oss基础目录
OSS_BASE_DIR=test-env/
# ---阿里云OSS配置---